@font-face {
	font-family: 'KorbinW01';
	src: url(../../assets/fonts/KorbinW01-Black.woff2) format('woff2'),
	url(../../assets/fonts/KorbinW01-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}